<nav class="navbar">
    <ul>
        <li><a [routerLink]="'servicios-disponibles'">Servicios Disponibles</a></li>
        <li><a [routerLink]="'ubicacion'">Ubicación</a></li>
        <li><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
    </ul>
</nav>

<div class="card">
    <h2>{{nombreCliente}}</h2>
    <p>Código de Cliente: <strong>{{codigoCliente}}</strong></p>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
<div class="group-call">
    <h2>Solicitar servicio</h2>
    <span>Si desea solicitar cualquiera de nuestros servicios puede llamar presionando el boton o comunicandose al +591-11111111</span>
    <div class="action-card">
        <a href="tel:+59111111111" class="button-call" type="button">
            <span class="button__text">Llamar por Teléfono</span>
            <span class="button__icon">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white; margin-right: 8px;">
                        <path d="M16.57 22a2 2 0 0 0 1.43-.59l2.71-2.71a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0l-1.6 1.59a7.55 7.55 0 0 1-3-1.59 7.62 7.62 0 0 1-1.59-3l1.59-1.6a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0L2.59 6A2 2 0 0 0 2 7.43 15.28 15.28 0 0 0 6.3 17.7 15.28 15.28 0 0 0 16.57 22zM6 5.41 8.59 8 7.3 9.29a1 1 0 0 0-.3.91 10.12 10.12 0 0 0 2.3 4.5 10.08 10.08 0 0 0 4.5 2.3 1 1 0 0 0 .91-.27L16 15.41 18.59 18l-2 2a13.28 13.28 0 0 1-8.87-3.71A13.28 13.28 0 0 1 4 7.41zM20 11h2a8.81 8.81 0 0 0-9-9v2a6.77 6.77 0 0 1 7 7z"></path>
                        <path d="M13 8c2.1 0 3 .9 3 3h2c0-3.22-1.78-5-5-5z"></path>
                    </svg></span>
        </a>
    </div>
</div>